{% extends 'base.html.twig' %}

{% block title %}Accueil - TheWinners{% endblock %}

{% block body %}
    <h2>Bienvenue sur le site de la guilde <strong>TheWinners</strong> !</h2>
    <p>Nous sommes une guilde côté Horde sur le serveur privé WoW 3.3.5.</p>
    <p>Consulte les pages de documentation, postule pour nous rejoindre ou discute avec nous !</p>
    <img src="https://static.wikia.nocookie.net/wowpedia/images/8/84/HordeCrest.png" alt="Logo Horde" style="max-width: 200px; margin-top: 1rem;">
{% endblock %}
